@charset "utf-8";

.logo {
    margin-top: 50px;
    text-align: center
}
.logo img {
    width: 140px;
    height: 80px;
}
.membership {
    margin-top: 100px;
    width: 100%;
    height: 60px;
    background-color: black;
}
.membership p {
    text-align: center;
    color: white;
    padding: 10px;
    letter-spacing: 15px;
    font-size: 30px;
}